<!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6 footer-info">
            <h3>Argentina Programa</h3>
            <p>Se trata de un programa nacional y federal que tiene como objetivo capacitar a personas en lenguajes y
              conocimientos sobre programación, testing y habilidades digitales para potenciar la empleabilidad en el
              sector del software y la tecnología.
              El programa es impulsado por el Ministerio de Economía de la Nación con apoyo de un consejo consultivo
              especializado.</p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Enlaces útiles</h4>
            <ul>
              <li><a href="#">Inicio</a></li>
              <li><a href="#">Nosotros</a></li>
              <li><a href="#">Servicios</a></li>
              <li><a href="#">Equipo</a></li>
              <li><a href="#">Políticas de Privacidad</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contacto</h4>
            <p>
              Av. 9 de Julio 465<br>
              CABA 1425<br>
              Argentina <br>
              <strong>Phone:</strong> +54 11 5589 5548<br>
              <strong>Email:</strong> info@mdigital.com<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>

          </div>

          <div class="col-lg-3 col-md-6 footer-newsletter">
            <h4>Nuestra Newsletter</h4>
            <p>Si buscas tener una estrategia de Marketing Digital para generar leads 24/7 e incrementar tus ventas,
              suscribete a nuestra Newsletter y construyamos algo grande juntos.</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Suscribir">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Argentina Programa</strong>. Todos los derechos reservados
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=NewBiz
        -->
        Diseñado por <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->
